<rcmsimage>
  <id><![CDATA[*id*]]></id>
  <descriptive_name><![CDATA[*descriptive_name*]]></descriptive_name>
  <path><![CDATA[*path*]]></path>
  <rounded><![CDATA[*rounded*]]></rounded>
  <position><![CDATA[*position*]]></position>
  <title><![CDATA[*title*]]></title>
  <alt_attribute><![CDATA[*alt_attribute*]]></alt_attribute>
  <border><![CDATA[*border*]]></border>
  <popup_picture><![CDATA[*popup_picture*]]></popup_picture>
  <popup_alt_attribute><![CDATA[*popup_alt_attribute*]]></popup_alt_attribute>
  <popup_title><![CDATA[*popup_title*]]></popup_title>
  <visible><![CDATA[*visible*]]></visible>
  <link_target><![CDATA[*link_target*]]></link_target>
  <link_url><![CDATA[*link_url*]]></link_url>
</rcmsimage>
