<!DOCTYPE html>
<html lang="zxx">
   <head>
      <title>*title*</title>
      <meta name="description" content="*description*" />
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="keywords" content="*keywords*" />
      <meta name="robots" content="noindex">
      <link href="/system/templates/oddbyte3d/css/bootstrap.min.css" rel="stylesheet" type="text/css" media="all">
      <link href="/system/templates/oddbyte3d/css/fontawesome-all.min.css" rel="stylesheet" type="text/css" media="all">
      <link href="/system/templates/oddbyte3d/css/nav.css" rel="stylesheet" type="text/css" media="all" />
      <script src="/system/templates/oddbyte3d/js/modernizr.custom.js"></script>
      <link rel="stylesheet" type="text/css" href="/system/templates/oddbyte3d/css/uncover.css" />
      <link href="/system/templates/oddbyte3d/css/style.css" rel='stylesheet' type='text/css' media="all">
   </head>
   <body>

      <div class="header" id="home">
         <div class="header-layout">
            <div class="container">
               <div class="right-side">
                  <p>
                     <button id="trigger-overlay" type="button">
                     <span class="fa fa-bars" aria-hidden="true"></span>
                     </button>
                  </p>
               </div>
               <!-- open/close -->
               <div class="overlay overlay-hugeinc">
                  <button type="button" class="overlay-close">Close</button>
                  <!-- Menu Start -->
                  <nav>
                     <ul>
                       *MENU*
                     </ul>
                  </nav>
                  <!-- Menu End -->
               </div>
               <div class="header-logo">
                  <h1><a href="index.html">
                     <img src="_logo_" class="img-fluid" alt="*company_name*"></a>
                  </h1>
               </div>
               <!-- /open/close -->
               <!-- /navigation section -->
            </div>
            <div class="clearfix"> </div>
         </div>
         <!--banner-->
		 <!---728x90--->

         <div class="slides text-center">
		 <!---728x90--->
            *SLIDES*
            <div class="clearfix"></div>
			<!---728x90--->
         </div>
         <ul class="pagin">
           *PAGINATION*
         </ul>
         <div class="clearfix"></div>
      </div>
      <!--//banner-->
      <div class="container">
        *CONTENT*
      </div>
      <!--Footer -->
      <footer class="py-lg-4 py-md-3 py-sm-3 py-3">
         <div class="icons text-center p-3">
            <ul>
               <li><a href="index.html#"><span class="fab fa-facebook-f"></span></a></li>
               <li><a href="index.html#"><span class="fas fa-envelope"></span></a></li>
               <li><a href="index.html#"><span class="fas fa-rss"></span></a></li>
               <li><a href="index.html#"><span class="fab fa-vk"></span></a></li>
            </ul>
         </div>
         <div class="footer-below text-center">
            <p>*copyright*</p>
         </div>
      </footer>
      <!-- //Footer -->
      <!-- js working-->
      <script src='/system/templates/oddbyte3d/js/jquery-2.2.3.min.js'></script>
      <!--//js working-->
      <!-- For-Banner -->
      <script src="/system/templates/oddbyte3d/js/imagesloaded.pkgd.min.js"></script>
      <script src="/system/templates/oddbyte3d/js/anime.min.js"></script>
      <script src="/system/templates/oddbyte3d/js/uncover.js"></script>
      <script src="/system/templates/oddbyte3d/js/main.js"></script>
      <!-- //For-Banner -->
      <!--nav menu-->
      <script src="/system/templates/oddbyte3d/js/classie.js"></script>
      <script src="/system/templates/oddbyte3d/js/nav.js"></script>
      <!-- //nav menu-->
      <!-- bootstrap working-->
      <script src="/system/templates/oddbyte3d/js/bootstrap.min.js"></script>
      <!-- // bootstrap working-->
   </body>
</html>
