<header>
  <id><![CDATA[*id*]]></id>
  <descriptive_name><![CDATA[*descriptive_name*]]></descriptive_name>
  <title><![CDATA[*title*]]></title>
  <facebook><![CDATA[*facebook*]]></facebook>
  <twitter><![CDATA[*twitter*]]></twitter>
  <linkedin><![CDATA[*linkedin*]]></linkedin>
  <instagram><![CDATA[*instagram*]]></instagram>
</header>
