<div class="slide" style="background: url(*image*) no-repeat 0px 0px;">
   <div class="slider-up">
      <h4>*header*</h4>
      <h5>*text*</h5>
      <div class="more_button">
         <a href="*link*">*link_text*</a>
      </div>
   </div>
   <div class="slide_image">
   </div>
</div>
