*IF(textalignment|[!empty]){* <p style="text-align: left"> *}*   *IF(italic|true){*<i>*}* *IF(bold|true){*<b>*}* *printtext* *IF(bold|true){*</b>*}* *IF(italic|true){*</i>*}* *IF(textalignment|[!empty]){* </p> *}*
